<header class="site-header px2 px-responsive">
  <div class="mt2 wrap">
  <a href="{{ site.url }}">
    <div class="logo"></div>
    </a>
    <div class="like-box">
      <div class="fb-like recommerd" data-href="http://kozmetium.co/" data-width="100" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
    </div>
    <div class="measure">
      <div class="clearfix"></div>
      {% if site.show_social_icons %}
        {% include social_links.html %}
      {% endif %}
    </div>
  </div>
</header>
